<ion-view view-title="Profile" >
    <ion-content style="background-color: rgb(184, 128, 77);">
        <div style="text-align: center;">
            <img src="{{picture}}"/>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ชื่อ</h3>
            </div>
            <div class="panel-body">
                {{firstname}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">นามสกุล</h3>
            </div>
            <div class="panel-body">
                {{lastname}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">รหัสพนักงาน</h3>
            </div>
            <div class="panel-body">
                {{username}}
            </div>
        </div>
    </ion-content>
</ion-view>
