<style>
    .catBox {
        border: solid 1px gainsboro;
        padding: 2px;
        margin: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        text-align: center;
        height: 100px;
    }
</style>
<ion-view view-title="หมวดหมู่" >
    <ion-content style="background-color: rgb(184, 128, 77);">
        <div id="statusShow">
        </div>

        <div class="list" id="categoryList">
        </div>

    </ion-content>
</ion-view>
