<style>
    .catBox {
        border: solid 1px gainsboro;
        padding: 2px;
        margin: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        text-align: center;
        height: 100px;
    }
</style>
<ion-view view-title="หมวดหมู่" >
    <ion-content >
        <div id="statusShow">
        </div>
        <div class="row">
            <div class="col-25 catBox"><a href="#"><i class="icon ion-star"></i><br>กฏหมาย</a></div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>รับซื้อ/จัดจ้าง</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>เทคโนโลยี</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>การพิมพ์</div>
        </div>
        <div class="row">
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>การผลิต</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>การวิจัย</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>ใบยา</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>ความปลอดภัยและสิ่งแวดล้อม</div>
        </div>
        <div class="row">
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>บุคคล/บริหาร</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>งานช่าง</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>โครงการย้ายโรงงานใหม่</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>กำกับตรวจสอบ</div>
        </div>
        <div class="row">
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>บัญชี การเงิน งบประมาณ</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>ผลิตภัณฑ์</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>การแพทย์อาหาร/สุขภาพ</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>ความรู้ทั่วไป</div>
        </div>

    </ion-content>
</ion-view>
