<style>
    .catBox {
        border: solid 1px gainsboro;
        padding: 2px;
        margin: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        text-align: center;
        height: 100px;
    }
</style>
<ion-view view-title="หมวดหมู่" >
    <ion-content >
        <div id="statusShow">
        </div>
        <!--
        <div class="row">
            <div class="col-25 catBox"><a href="#"><i class="icon ion-star"></i><br>กฏหมาย</a></div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>รับซื้อ/จัดจ้าง</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>เทคโนโลยี</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>การพิมพ์</div>
        </div>
        <div class="row">
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>การผลิต</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>การวิจัย</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>ใบยา</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>ความปลอดภัยและสิ่งแวดล้อม</div>
        </div>
        <div class="row">
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>บุคคล/บริหาร</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>งานช่าง</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>โครงการย้ายโรงงานใหม่</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>กำกับตรวจสอบ</div>
        </div>
        <div class="row">
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>บัญชี การเงิน งบประมาณ</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>ผลิตภัณฑ์</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>การแพทย์อาหาร/สุขภาพ</div>
            <div class="col-25 catBox"><i class="icon ion-star"></i><br>ความรู้ทั่วไป</div>
        </div>
-->
        <div class="list" id="categoryList">
            <a class="item item-thumbnail-left" href="#/app/categorySub/1">
                <img src="img/cat/1.jpg">
                <h2>กฏหมาย</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/categorySub/2">
                <img src="img/cat/2.jpg">
                <h2>จัดซื้อ/จัดจ้าง</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/categorySub/3">
                <img src="img/cat/3.jpg">
                <h2>เทคโนโลยี</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/categorySub/4">
                <img src="img/cat/4.jpg">
                <h2>การพิมพ์</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/categorySub/5">
                <img src="img/cat/5.jpg">
                <h2>การผลิต</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/categorySub/6">
                <img src="img/cat/6.jpg">
                <h2>การวิจัย</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/categorySub/7">
                <img src="img/cat/7.jpg">
                <h2>ใบยา</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/categorySub/8">
                <img src="img/cat/8.jpg">
                <h2>ความปลอดภัยและสิ่งแวดล้อม</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/categorySub/9">
                <img src="img/cat/9.jpg">
                <h2>บุคคล/บริหาร</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/categorySub/10">
                <img src="img/cat/10.jpg">
                <h2>งานช่าง</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/categorySub/11">
                <img src="img/cat/11.jpg">
                <h2>โครงการย้ายโรงงานใหม่</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/categorySub/12">
                <img src="img/cat/12.jpg">
                <h2>กำกับตรวจสอบ</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/categorySub/13">
                <img src="img/cat/13.jpg">
                <h2>บัญชี การเงิน งบประมาณ</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/categorySub/14">
                <img src="img/cat/14.jpg">
                <h2>ผลิตภัณฑ์</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/categorySub/15">
                <img src="img/cat/15.jpg">
                <h2>การแพทย์ อาหาร สุขภาพ</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/categorySub/16">
                <img src="img/cat/16.jpg">
                <h2>คาวมรู้ทั่วไป</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/categorySub/17">
                <img src="img/cat/17.jpg">
                <h2>แผนยุทธศาสตร์</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/categorySub/18">
                <img src="img/cat/18.jpg">
                <h2>การตลาด การขาย</h2>
            </a>
        </div>

    </ion-content>
</ion-view>
