<ion-view view-title="{{data.guru_cat_name}}" >
    <ion-content ng-controller="expertsDetailCtrl" style="background-color: rgb(184, 128, 77);">
        <div>
            <div>
                <img src="img/e-book.jpg" style="width: 100%"/>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">ชื่อ</h3>
                </div>
                <div class="panel-body">
                    {{data.firstname}} {{data.lastname}}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">เบอร์</h3>
                </div>
                <div class="panel-body">
                    {{data.guru_telephone}}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">ประวัติ</h3>
                </div>
                <div class="panel-body">
                    {{data.guru_history}}
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
