<ion-view view-title="{{data.guru_cat_name}}" >
    <ion-content ng-controller="expertsDetailCtrl">
        <div>
            <div>
                <img src="img/e-book.jpg" style="width: 100%"/>
            </div>
            <div style="padding: 10px;">
                {{data.firstname}} {{data.lastname}}
            </div>
            <div style="padding: 10px;">
                {{data.guru_telephone}}
            </div>
            <div style="padding: 10px;">
                {{data.guru_history}}
            </div>
        </div>
    </ion-content>
</ion-view>
