<ion-view view-title="ผู้เชี่ยวชาญ" >
    <ion-content >
        <div id="statusShow">
        </div>
        <div class="list" id="expertsList">
            <a class="item item-thumbnail-left" href="#/app/expertsSub/1">
                <img src="img/e-book.jpg">
                <h2>ผู้เชี่ยวชาญกฎหมาย</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/expertsSub/2">
                <img src="img/e-book.jpg">
                <h2>ผู้เชี่ยวชาญด้านการผลิต</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/expertsSub/3">
                <img src="img/e-book.jpg">
                <h2>ผู้เชี่ยชาญการพิมพ์</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/expertsSub/4">
                <img src="img/e-book.jpg">
                <h2>ผู้เชี่ยวชาญการแพทย์</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/expertsSub/5">
                <img src="img/e-book.jpg">
                <h2>ผู้เชี่ยวชาญใบยา</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/expertsSub/6">
                <img src="img/e-book.jpg">
                <h2>ผู้เชี่ยวชาญเทคโนโลยี</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/expertsSub/7">
                <img src="img/e-book.jpg">
                <h2>ผู้เชี่ยวชาญบริหาร</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/expertsSub/8">
                <img src="img/e-book.jpg">
                <h2>ผู้เชี่ยวชาญผลิตภัณฑ์</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/expertsSub/9">
                <img src="img/e-book.jpg">
                <h2>ผู้เชี่ยชาญบัญชีและงบประมาน</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/expertsSub/10">
                <img src="img/e-book.jpg">
                <h2>ผู้เชี่ยวชาญการวิจัย</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/expertsSub/11">
                <img src="img/e-book.jpg">
                <h2>ผู้เชี่ยวชาญการช่าง</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/expertsSub/12">
                <img src="img/e-book.jpg">
                <h2>ผู้เชี่ยวชาญการตลาดการขาย</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/expertsSub/13">
                <img src="img/e-book.jpg">
                <h2>ผู้เชี่ยวชาญกำกับตรวจสอบ</h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/expertsSub/14">
                <img src="img/e-book.jpg">
                <h2>ผู้เชี่ยวชาญด้านแผนยุทธศาสตร์</h2>
            </a>
        </div>
    </ion-content>
</ion-view>
