<ion-view view-title="{{data.faq_question}}" >
    <ion-content ng-controller="faqDetailCtrl" style="background-color: rgb(184, 128, 77);">
        <div>
            <div>
                <!--<img src="{{data.news_image_url}}" style="width: 100%"/>-->
            </div>
            <div style="padding: 10px;">
                {{data.faq_question}}
            </div>
            <div style="padding: 10px;">
                {{data.faq_answer}}
            </div>
        </div>
    </ion-content>
</ion-view>
