<ion-view view-title="{{data.kmcenter_name}}" >
    <ion-content ng-controller="kmDetailCtrl" style="background-color: rgb(184, 128, 77);">
        <div>
            <div>
                <img src="{{data.kmcenter_map_pic_url}}" style="width: 100%"/>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">ชื่อ</h3>
                </div>
                <div class="panel-body">
                    {{data.kmcenter_name}}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">ที่ตั้ง</h3>
                </div>
                <div class="panel-body">
                    {{data.kmcenter_location}}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">เบอร์โทร</h3>
                </div>
                <div class="panel-body">
                    {{data.kmcenter_phone}}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">คำอธิบาย</h3>
                </div>
                <div class="panel-body">
                    {{data.kmcenter_description}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
