
<ion-view view-title="{{data.news_name}}" >
    <ion-content ng-controller="newsDetailCtrl" style="background-color: rgb(184, 128, 77);">
        <style>
            .slider {
                visibility: visible;
            }
        </style>
        <div>

            <!--
            <div id="container2"></div>
            <div ng-repeat="image in data.news_images" title="" data-bgimage="{{image.image_url}}"></div>
-->

            <div id="slider" class="slider">
                <!--
                <img ng-repeat="image in data.news_images" src="{{image.image_url}}" class="slide_item">-->
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{data.news_name}}</h3>
                </div>
                <div class="panel-body">
                    {{data.news_description}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<script>
    $(document).ready(function() {
       //$("#slider").excoloSlider();
    });
</script>