
<ion-view view-title="{{data.news_name}}" >
    <ion-content ng-controller="newsDetailCtrl" style="background-color: rgb(184, 128, 77);">
        <style>
            .layer { width: 100% }
        </style>
        <div>
            <div style="height: 210px;">
                <ul rn-carousel class="image">
                    <li ng-repeat="image in data.news_images" style="background-image:url({{ image.image_url }});">
                        <img ng-src="{{ image.image_url }}" class="layer">
                    </li>
                </ul>

            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{data.news_name}}</h3>
                </div>
                <div class="panel-body">
                    {{data.news_description}}
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
