<ion-view view-title="{{data.content_name}}" >
    <ion-content ng-controller="videoDetailCtrl" style="background-color: rgb(184, 128, 77);">
        <div>

            <div class="panel panel-default" style="margin-top: 16px;">
                <div class="panel-heading">
                    <h3 class="panel-title">ชื่อ</h3>
                </div>
                <div class="panel-body">
                    {{data.content_name}}
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">คำอธิบาย</h3>
                </div>
                <div class="panel-body">
                    {{data.content_description}}
                </div>
            </div>


            <div style="padding: 10px;" ng-repeat="v in data.videos" >
                <div>
                    <video id="example_video_1" class="video-js vjs-default-skin"
                           controls preload="auto" width="100%"
                           poster="{{v.video_thumb_url}}"
                           data-setup='{}'>
                        <source src="{{v.video_url}}" type='video/mp4' />
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser
                            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div>
            </div>


        </div>
    </ion-content>
</ion-view>
