<ion-view view-title="{{data.content_name}}" >
    <ion-content ng-controller="videoDetailCtrl" style="background-color: rgb(184, 128, 77);">
        <div>
            <div>
                <img src="{{data.book_cover_url}}" style="width: 100%"/>
            </div>
            <div style="padding: 10px;">
                ชื่อ : {{data.content_name}}
            </div>
            <div style="padding: 10px;">
                {{data.content_description}}
            </div>
            <div style="padding: 10px;" ng-repeat="v in data.videos" ng-click="openVideo(v.video_url)">
                <div>
                    <img width="100%" src="{{v.video_thumb_url}}" />
                    {{v.video_name}}
                </div>
                <!--<button class="button button-positive" ng-click="openVideo()">-->
                    <!--Play Video {{v.video_url}}-->
                <!--</button>-->
            </div>
        </div>
    </ion-content>
</ion-view>
